body{
    overflow-x: hidden;
    background-color: #e5e4de !important;
    font-family: 'Mate SC', serif !important;
}

.bg-cream{
    background-color: #E8DBCD;
}

.home-back{
    height: 100vh;
    background-size: cover;
    background-image: url("public/resized-image-Promo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-top:-68px;

}
.rsvp-header{
    height: 25vh;
    background-size: cover;
    background-image: url("public/Toulouse-wedding-photographer076.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-top:-68px;

}

.home-img{
    height: 30em;
    background-size: cover;
    background-image: url("public/023-french-wedding-photographer.jpg");
    background-position: center;
    background-repeat: no-repeat;

}

.font-handwrite{
    font-family: 'Rajdhani', sans-serif;
}

.font-large{
    font-size: 2rem !important;
}

.font-main h4{
    font-size: 5vw;
}

.font-main h1 {
    font-size: 10vw;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav li{
    font-size: 1.5rem;
}

.bg-nav-gradient{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.7959558823529411) 0%, rgba(0,0,0,0.6194852941176471) 35%, rgba(0,0,0,0) 70%);
}

@media only screen and (max-width: 426px) {

.navbar-nav li a{
    font-size: 4rem;
}

    .font-main h4{
        font-size: 15vw;
    }

    .font-main h1 {
        font-size: 30vw;
    }
}
