body{
    overflow-x: hidden;
    background-color: #E5E4DE;
    font-family: 'Mate SC', serif;
}

.bg-cream{
    background-color: #E8DBCD;
}

.home-back{
    height:100vh;
    background-size: cover;
    background: url("public/resized-image-Promo.jpeg") no-repeat center

}

.font-handwrite{
    font-family: 'Parisienne', cursive;
}